{% load crispy_forms_tags %}
    <div class="col-md-12 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ reviews.count }} Reviews</h2>

        {% for review in reviews %}
        <hr>
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ review.name }}
            <span class=" text-muted font-weight-normal">
              {{ review.created_on }}
            </span>
          </p>
          {{ review.body | linebreaks }}
        </div>
        
        {% endfor %}
      </div>
    </div>
    <div class="col-md-12 card mb-4  mt-3 ">
      <div class="card-body">

        <h3>Leave a review</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ review_form|crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>