{% extends "base.html" %}
{% block head_title %}STR:WER - Your Street Wear Shop{% endblock %}
{% block content %}
  <main>
    <div class="container">
      <div class="container promo-banner">
        <div class="banner-content ">
          <h1>Nike Air Max 1</h1>
          <p>Old Classic back at it</p>
          <button class="btn promo-btn">
            <a href="/product/nike-air-max-90/">Shop Now</a>
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      {% include "elements/product_filter_bar.html" %}
      <h4>Products:</h4>
      {% include "elements/product_grid.html" %}
    </div>
  </main>
{% endblock content %}