{% load crispy_forms_tags %}      
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg product-filter navbar-dark lighten-3 mt-3 mb-5">
        <!-- Navbar brand -->
        <!-- Collapsible content -->
        <div id="product-filter-from">
          <!-- Links -->
          <form method="GET">
            {{filter.form|crispy}}
                <input class="nav-link" type="submit">
            </form>
          <!-- Links -->

        </div>
        <!-- Collapsible content -->
      </nav>
      <!--/.Navbar-->